* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    color: #fff;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Estilos para la sección Hero */
#hero {
    background-image: url('taller.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

#hero h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #e63946;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

/* Sección de destacados */
#highlights {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.highlight {
    text-align: center;
    width: 30%;
}

.highlight img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.highlight h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.highlight p {
    font-size: 1.2rem;
}
#about-page {
    background-image: url('equipo-mecanicos.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #000000;
}
.about-page h2 {
    bottom: 50px;
    font-size: 2rem;
    margin-bottom: 10px;
}
#services-page{
    background-position: center;
    text-align: center;
}
/* Footer */
footer {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
